:root {
    font: 16px/1.5 "Roboto", sans-serif;
    --color-event: #7992ee;
    --color-event-variant: #354a96;
    --color-comment: #e7864a;
    --color-comment-variant: #ac5c2a;
    --color-preview: #f5f5f5;
    --color-event-others: #1c874c;
    --color-comment-others: #ab6f49;
    --color-danger: #d9534f;
    --color-danger-variant: #a6130e;
}

button {
    cursor: pointer;
    font: inherit;
}

.mode-button {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
    font-size: 1.3rem;
    transition: all 0.3s;
    padding: 0.3rem 1rem;
    color: var(--color-event);
}

.mode-button:hover {
    border: 1px solid var(--color-event);
}

.mode-button.selected {
    border: 1px solid var(--color-event);
    background-color: var(--color-event);
    color: white;
}

.mode-button.comment-mode {
    color: var(--color-comment);
}

.mode-button.comment-mode:hover {
    border: 1px solid var(--color-comment);
}

.mode-button.comment-mode.selected {
    border: 1px solid var(--color-comment);
    background-color: var(--color-comment);
    color: white;
}

.mode-buttons-container {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    align-items: center;
    margin: 0.5rem;
    padding-top: 0.5rem;
}

.availability-button {
    background-color: transparent;
    border: 1px dashed var(--color-event-others);
    border-radius: 15px;
    transition: all 0.3s;
    padding: 0.3rem 1rem;
    color: var(--color-event-others);
}

.availability-button:hover {
    border: 1px solid var(--color-event-others);
}

.availability-button.selected {
    border: 1px solid var(--color-event-others);
    background-color: var(--color-event-others);
    color: white;
}

.submit-button {
    background-color: transparent;
    border: 1px dashed var(--color-event-variant);
    border-radius: 15px;
    transition: all 0.3s;
    padding: 0.3rem 1rem;
    color: var(--color-event-variant);
}

.submit-button:hover {
    border: 1px dashed var(--color-event-variant);
}

.submit-button.selected {
    border: 1px solid var(--color-event-variant);
    background-color: var(--color-event-variant);
    color: white;
}

.sticky-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background: linear-gradient(rgba(255, 255, 255, 0.8), transparent);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ec-event.ec-preview {
    background-color: var(--color-preview);
}

.popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60%;
    z-index: 10000;
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    display: flex;
    background-color: var(--color-comment);
    border-radius: 3px;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    color: white;
}

.popup-button {
    background-color: var(--color-comment-variant);
    border: 1px solid var(--color-comment-variant);
    border-radius: 15px;
    transition: all 0.3s;
    padding: 0.3rem 1rem;
    color: var(--color-comment);
}

.popup-button:hover {
    border: 1px solid white;
    background-color: white;
}

.popup-buttons-container {
    display: flex;
    column-gap: 1rem;
    margin-top: 0.5rem;
}

#comment-options, #comment-other {
    padding: 0.3rem;
    width: 100%;
    margin: 0.8rem;
}

#comment-other {
    margin-top: 0;
}

.delete-button {
    background-color: var(--color-danger);
    border: 1px solid var(--color-danger);
}

.delete-button:hover {
    border: 1px solid var(--color-danger-variant);
    background-color: var(--color-danger-variant);
}

.icon {
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}